{% extends "base.html" %}

{% block title %}
Home | Sensor Application
{% endblock %}


{% block page_title %}
Welcome
{% endblock %}


{% block content %}

<div class="row row-deck row-cards">

    <div class="col-sm-6 col-lg-4">

        <div class="card">

            <div class="card-body">

                <h3 class="card-title">
                    To Do Items
                </h3>

                <p class="text-secondary">
                    View and manage your current tasks.
                </p>

                <a href="{% url 'my1stapp:todos' %}"
                   class="btn btn-primary">

                    View To Do Items

                </a>

            </div>

        </div>

    </div>

</div>

{% endblock %}