{% extends "base.html" %}

{% block title %}
To Do Items | Sensor Application
{% endblock %}

{% block breadcrumbs %}

<nav aria-label="breadcrumb">

    <ol class="breadcrumb">

        <li class="breadcrumb-item">

            <a href="{% url 'my1stapp:home' %}">
                Home
            </a>

        </li>

        <li class="breadcrumb-item active"
            aria-current="page">

            To Do Items

        </li>

    </ol>

</nav>

{% endblock %}


{% block page_title %}
My To Do Items
{% endblock %}


{% block page_actions %}

    <a href="#"
       class="btn btn-primary">

        Add To Do Item

    </a>

{% endblock %}


{% block content %}

<div class="card">

    <div class="table-responsive">

        <table class="table table-vcenter card-table">

            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Completed</th>
                </tr>
            </thead>

            <tbody>

                {% for todo in todos %}

                    <tr>
                        <td>{{ todo.title }}</td>
                        <td>{{ todo.description  }}</td>
                        <td>{{ todo.completed|yesno:"Yes,No" }}</td>
                    </tr>

                {% empty %}

                    <tr>

                        <td class="text-secondary">
                            No to-do items found.
                        </td>

                    </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</div>

{% endblock %}