{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}My Webpage{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <ul id="navigation">
    {% for item in navigation %}
        <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
    {% endfor %}
    </ul>

    <h1>My Webpage</h1>
    {{ a_variable }}
    {# a comment #}
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>  

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>